#container{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

#box{
    width:300px;
    height:400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

#box1{

    background-image: linear-gradient(rgba(216, 101, 8, 0.5),rgba(206, 15, 15, 0.6));
    flex:7;

}

#box1>h1{
    text-align: center;
    color: white;
}

#box1>p{
    margin-left:8px;
    margin-top:60px;
    color:white;
}

#box2{
    background-color: brown;
    flex:1;
    display:flex;
    position: relative;
}

#box2>p{
    position: absolute;
    left:20px;
    align-self: center;
    color:white;
}

#box2>a{
    position: absolute;
    right:20px;
    align-self:center ;
    color:white;
    text-decoration: none;
}